.login{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(217, 237, 250);
}
.card{
  padding: 40px;
}

label,h2,button,p,span,h4,b,h1,textarea{
  font-family: 'Mitr', sans-serif;
}